<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <b>this is project2</b>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi at beatae nemo aliquam, nobis eligendi nostrum saepe fuga minus id perferendis, unde, qui veritatis doloremque. Debitis vitae minus eos?
        </p>
    </h1>
</body>
</html>